# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Config Files (Contains your server data)
backup_channels.json
config_channels.json
backup_global.json
config_global.json

# Ignore Token file if you decide to move it out of bot.py
.env
config.py